# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp
*.h~
*.cpp~
*.txt~
*.gitignore~

# Anjuta files
*.db
*.anjuta

# Latex files
*.bak
*.log
*.aux
*.idx
*.toc
*~

# IJE
/IJE_Manateam/*
